* {
    box-sizing: border-box;
  }
  html {
    display:flex;
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
    font-family: dm-sans,ui-sans-serif,verdana,system-ui;
    line-height: 1.5;
    tab-size: 4;
  }
  
.dropbtn{
    background-color: #901C1C;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius:5px;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #DB8876;
}

#contact-Button{/*rectangle 2*/
    height: 69px;
    width: 170px;
    margin-right: 70%;
    background: #911C1C;
    margin-left:-40%; 
    margin-top:10.5%;
    color:white;
    border-radius: 5px;    
 } 

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

/* .logo */
#logo{
    width: 210px;
    height: 3rem;
    left: 5px;
    top: 2px;
    justify-content: flex-start;
    position: absolute;
    margin-top:11%;
}
canvas #thumb-imgfull{
height: 351px;
width: 350px;
left: 550px;
top: 581px;
object-position: center;
margin-left:-10%;
background: lightgrey;
}

#form-textarea{/* rectangle Prénom */
display: flex;
height: 77px;
width: 499px;
justify-content: start;
border: 1px solid #737373;
position: absolute;
left: 3.51%;
right: 76%;
top: 60px;
bottom: 70%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
color: #000000;
opacity: 0.3;
text-align: left center;
}

h4{
height: 47px;
width: 128px;
left: 21px;
top: 25px;
opacity:30%;
font-family: DM Sans;
font-size: 36px;
font-style: normal;
line-height: 47px;
letter-spacing: 0em;
text-align: left;
position: absolute;
bottom: 25.77%;
font-weight: normal;
font-size: 36px;
line-height: 47px;/* identical to box height */
color: #000000; 
}

h5{
    height: 31px;
    width: 254px;
    left: 0px;
    margin-top: 15px;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:-76.5%;     
}
#tagline {
height: 23px;
width: 348px;
left: 0px;
top: 133px;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #525252;
margin-left:-83%;
}
.All-tags{
    margin-left:-77%;
    margin-top: 2%;
}
/
img{
border-radius: 50%;
object-position: right bottom;
}

.tag {/*.photographer_cathegories #Portrait #Art #Fashion #Architecture #Travel #Sport #Animals #Events buttons*/
    margin-right:.25rem;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(209,213,219,var(--tw-border-opacity));
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgba(144,28,28,var(--tw-text-opacity));
    transition-duration: .2s;
    color: #911C1C;
  }
i{
    color: #911C1C;
}
.photo{
    margin-top:30%;
    margin-bottom: 50%;
    margin-right: 50%;
}
.photographerCard{
margin-top: -25%;
}
#photograph-header{
margin-top:2%;
object-position: bottom;    
height: 313px;
width: 1240px;
align-items: center baseline; 
}

h1{
height: 83px;
width: 458px;
font-family: DM Sans;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 83px;
letter-spacing: 0em;
text-align: left;
flex-direction: row;
margin-left:-78%;
margin-top:25%;
}
aside img{
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top:-75%;
        flex-wrap:wrap;
        zoom: normal;
        position: static; 
        height: 30rem; 
        width: 72%;
        height: 72%; 
        object-fit: cover;
        object-position:top center;      
}
#photographer-profile{
    margin-right: 5%;
}
.miniature{
    margin-left:4px;
    margin-top:15%;
    height: 179px;
    width: 263px;
    left: -81px;
    top: -25px;
    border-radius: 50%;       
}
#img-miniature{
    object-position: center;
    height:60px;
    width: 60px;
    border-radius: 50%;
}