article{
height: 358px;
left: -162px;
top: -50px;
width: 33%;
text-align: center;
padding: 1%;
justify-content: center;
position:absolute;
   .section{ /*rectangle 243*/
    height: 277px;
    position: absolute;
    width: 263px;
    left: 72px;
    top: 192px;
    box-sizing: border-box;
    .img{
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        flex-wrap:wrap;
        zoom: normal;
        position: static;
        width:30%;
      }
     h2{
      text-align: center;
      color:#911C1C;
      font-size: 2.25rem;
      line-height: 2.5rem;
      --tw-text-opacity: 1;
      color: rgba(211,87,60,var(--tw-text-opacity));
      }
    }
      h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      }
    
  }  
  