
* {
  box-sizing: border-box;
}
html {/* Index */
  display:flex;
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #FFFFFF;
  font-family: dm-sans,ui-sans-serif,verdana,system-ui;
  line-height: 1.5;
  tab-size: 4;
}
body{/* Vector 1*/ 
display:flex;
position: absolute;
width: 1413.5px;
height: 1003.5px;
left: 11px;
top: 5px;
}
/* Rectangle 34 header*/
header {
  display: inline-block;
  position: absolute;
  width: 968px;
  height: 157px;
  left: 7px;
  top: 3px;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
}
#logo{
padding: 4px;
height:64px;
width: 225px;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;
}
p {
text-align: center;
flex-wrap: wrap;
}
/* Nos photographes */
h1 {
  --tw-text-opacity: 1;
  color: rgba(144,28,28,var(--tw-text-opacity));
  width: 306px;
  position: absolute;
  font-family: DM Sans;
  left: 1140px;
  top: 8px;
  bottom: 0%;
  flex-grow: 1;
  order: 2;
  display: block;
  font-weight: normal;
  writing-mode: horizontal-tb;
  font-size: 36px;
  line-height: 47px;
  font-size:1.2em;
  align-content: right;
  margin-top: 37px;  
}
h4{
  line-height: 16,93px;
  font-size: 13px;
font-style: normal;
  margin-top: -52px;
  color: #D3573C;
  text-align: center;
  font-family: DM Sans;
  flex-basis:auto;
}
main{
flex-direction: column;
margin-top: 8%;
height: 1003.5px;
width: 1413.5px;
left: 11px;
top: 7px;
display: flex;
justify-content: stretch;
margin-bottom: 30px;
}
ul{
  display: flex;
  margin:0;
  padding:0;
  align-items: center;
  list-style: none; 
  margin-left: 405px; 
  margin-top: -60px;
  align-items:stretch;   
}
section{ /*rectangle 243*zone focus*/
  height: 300px;
  width: 305px;
  left: 72px;
  top: 192px;
  box-sizing: content-box;
  object-position: 50% 50%;
  padding:33px;
}
section img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap:wrap;
    zoom: normal;
    position: static; 
    height: 30rem; 
    width: 72%;
    height: 72%; 
    object-fit: cover;
    object-position:top center;      
}
section h2{
font-family: DM Sans;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 47px;
letter-spacing: 0em;
text-align: center;
flex-wrap: nowrap;
flex-direction: row;
align-items: center baseline;  
height: 47px;
width: 100%;
left: 21px;
top: 220px;
text-align: center;
font-size: 2.25rem;
line-height: 2.5rem;
--tw-text-opacity: 1;
color: rgba(211,87,60,var(--tw-text-opacity));
padding-top:16px;
} 
.photographerList{
  display:flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.photographer-profile{
  margin-top: 125px;
  height: 358px;
  width: 30%;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px; 
  }  
  a{
  text-decoration: none;
  }
.List1{
  margin-bottom: 15%;
  flex-direction:row;
  padding:15px;
}
.List2{
  margin-bottom: 5%;
  flex-direction:row;
  padding:15px;
  justify-content:space-between;
  flex-wrap: nowrap;
}
.List1, .List2{
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
} 
#nav-bar{
  top:42%;
  text-align: center;
  left:90%;
}
photographer-profile{
  margin-top: 125px;
  height: 358px;
  width: 30%;
  left: -162px;
    display:flex;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    flex-wrap: wrap;
  }      
/*button*/
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  background: #DB8876;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.tag {/*.photographer_cathegories #Portrait #Art #Fashion #Architecture #Travel #Sport #Animals #Events buttons*/
    margin-right:.25rem;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(209,213,219,var(--tw));
    padding-bottom: .25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgba(144,28,28,var(--tw-text-opacity));
    transition-duration: .2s;
    color: #911C1C;
  }  
.scroll{    
    margin-left: 50%;
    position: absolute; 
    background: #DB8876;
    border-radius: 5px;
    touch-action: pan-y;   /*revoir*/
    opacity: 1;
    height: 30px;
width: 182px;
left: -6px;
top: 0px;
border-radius: 5px;
text-align: center;
padding-top: 6px;
color:solid black;
opacity:0.33;
}
a{
  color: inherit;
  text-decoration: inherit;
}
img, video{
  max-width: 100%;
  height: auto;
} 
audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle;
}
main{
box-sizing: border-box;
}
blockquote{/* Voir le beau dans le quotidien */
display: flex;
flex-wrap: nowrap;
width: 100%;
height: auto;
text-align: center;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
box-sizing: border-box;/* identical to box height */
color: #000000;
justify-content: space-around;
padding: 5px;
}
/* prix€/jour */
.prix {
display: flex;
flex-wrap: nowrap;
margin-left: 42%;
position:relative;
font-family: DM Sans;
font-size: 12px;
line-height: 15px;
text-align: center;
color: #757575;
align-items: center;
}

.tagsbox{ /* Rectangle 256 tags individuel de la carte*/
height: 30px;
width: 350px;
top: 553px;
text-align: center;
vertical-align: middle;
}
/* ****************************** smartphone, tablet and screen until 1024px ****************************** */
@media all and (max-width: 1024px) {
  body{
    overflow-x:hidden;
  }
  body {
    width: 100%;
    padding: 0 16px;
  }
  .main {
    flex-direction: column;
    width: 100%;
  }  
  .photographerList {
    flex-basis: 100%;
    margin-right: 0;
    margin-top: 20px;
    order: 2;
  } 
}
/* ****************************** smartphone only ****************************** */
@media screen and (max-width: 766px) {
/* .logo */
#logo{
  height: 55px;
  width: 210px;
  left: 0px;
  top: 5px; 
justify-content: flex-start;
position: absolute;
flex-basis:auto;
}    
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
h1{
  display:flex;
  text-align: right;
  top:-5%;
  left:23%;
}
/*
#nav-bar{
  height: 49px;
  width: 553px;
 text-align: center;
 align-content: center;
 left:-20%;   
}*/
#nav-bar{ /* Rectangle 246 tags-box*/
  height: 50px;
  width: 285px;
  top:-20% center;
  text-align: center;
  display: flex;
  box-sizing: border-box; 
  margin:4px; 
}
h4{
  text-align: center;
  margin-bottom: 40px;   
}/*
.photographer-profile{
top:359px;
display:flex;
width: 30%;
padding: 5px;
} */
span.prix{
object-fit: cover;
top:70%;
vertical-align: middle;
text-align: center;
}
ul{
  display: flex;
  margin:0;
  padding:0;
  align-items: center;
  list-style: none; 
  margin-left: 405px; 
 top:202px;
  align-items:stretch;   
}
div.tagsbox{
  height:30px;
width: 263px;
text-align: center;
}
.photographerList{ 
  flex-direction: column;
}

}