/* photographer-page */
* {
    box-sizing: border-box;
  }
  *, *:after, *:before {
    box-sizing: border-box;
}

  html {/* Index */
    display:flex;
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
    font-family: dm-sans,ui-sans-serif,verdana,system-ui;
    line-height: 1.5;
    tab-size: 4;
  }
  
  body{/* Vector 1*/ 
  display:flex;
  position: absolute;
  width: 1413.5px;
  height: 1003.5px;
  left: 11px;
  top: 5px;
  }
  #logo{
  position:absolute;
  height: 60px;
width: 250px;
left: 20px;
top: 40px;
border-radius: 0px;
margin-top: -25px;
  }    
 /* .photograph-header */
 #photograph-header{
  margin-top:-2%;
  object-position:center top;    
  height: 313px;
  width: 1240px;
  text-align: left;
  position: absolute;   
  top: 131px;
  background: #FAFAFA;
  margin-left: 40px;
}
#form-textarea {
justify-content: start;
height: 97px;
width: 599px;
left: 0px;
top: 0px;
border-radius: 5px;
}
.gallery{
  display:flex;
  flex-direction: column;
  margin-top: 8%;
  height: 1003.5px;
  width: 1413.5px;
  left: 11px;
  top: 7px;
  display: flex;
  justify-content: stretch;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.ListA .ListB{
            display: flex;
            justify-content: space-between; 
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 10px;
            height: 20%;
}          

/* Arc-en-ciel *
#Arc-en-ciel{
position: absolute;
left: 0%;
right: 16.57%;
top: 88.32%;
bottom: 2.85%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
color: #911C1C;
}
/*
aside{
    justify-content: right;
    height: 358px;
    width: 526px;
    left: -162px;
    top: -50px;
    object-position: center;
}
/* price */
.prix{
position: absolute;
left: 67.71%;
right: 18%;
top: 88.32%;
bottom: 2.85%;
}
/* .likes */
.likes{
position: absolute;
left: 87.25%;
right: 0%;
top: 88.32%;
bottom: 2.85%;
}
/* price */
.prix{
position: absolute;
left: 67.71%;
right: 18%;
top: 88.32%;
bottom: 2.85%;
}
aside{
height: 358px;
width: 526px;
left: -162px;
top: -50px;
}
aside img/*section image dans index.html*/
{
display:flex;
 object-position: center;
 border-radius: 50%;
margin-left: 995px;
margin-top: -245px;
 flex-wrap: wrap;
 zoom: normal;
 position: static;
 height: 30rem;
 width: 38%;
 height: 52%;
 object-fit: cover; 
 position: static;

}
p{
  margin-top: 420px;
  margin-left: 15px;
}
 /*Mimi Keel */
h1{
  height: 83px;
  width: 282px;
  position: absolute;
  line-height: 83px;
right: 74%;
font-size: 64px;
bottom: 58.5%;
font-family: DM Sans;   
color: #D3573C;
margin-top:90%;
}
/* London, UK */
h4{
height: 80px;
width: 374px;
left: 42px;
text-align: left;   
width: 124px;
position: absolute;
right: 65.36%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
color: #901C1C;
margin-top: 50px;
}
blockquote {
  display:flex;
  height: 23px;
  width: 348px;
  top: 133px;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #525252; 
  margin-top: 70px;
  }
/* #portrait #events #travel #animals */
.tagsbox{
height: 38px;
width: 399px;
top: 360px;
margin-left: 40px;
margin-top: 50px;
}
/*
.thumb-imgfull{
    height: 351px;
    width: 350px;
          
}*/
.thumb-img{/*image sans titre et likes*/       
    width: 35px;
    height: 25px; 
    object-fit: cover;   
}
   
div.title {
       height: 31px;
       width: 292px;
       left: 0px;
       top: 310px;   
       padding: 15px;
       text-align: center;
}
.fa fa-heart{/*coeur */
        height: 18.350000381469727px;
        width: 39.5px;
        left: 1.75px;
        top: 3px;
}

#likesAndPrice{/*likes et prix button*/
height: 89px;
width: 376px;
 background: #DB8876;
color:black;
border-radius: 5px;
position:fixed;
text-align: center;
}

button{/*rectangle 2*/
  height: 59px;
  width: 170px;
  border-radius: 5px;
  color:white;
  margin-left: 38%;   
  border-radius: 5px;
  background: #901C1C;
  object-position: center;
  margin-top: 15px;    
}
/*button*/
#dropbtn {
    position: relative;
    display: inline-block;
    margin-top:-4px;
    margin-left:80px;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background: #DB8876;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }
/*Le css suivant est utilisé pour la flèche déroulante.*/
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
/* .dropdown-open */
.dropdown-open{
position: absolute;
width: 170px;button{/*rectangle 2*/
  height: 59px;
  width: 170px;
  border-radius: 5px;
  color:white;
  margin-left: 38%;   
  border-radius: 5px;
  background: #901C1C;
  object-position: center;
  margin-top: 15px;    
}
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* main */
main{
position: absolute;
width: 142px;
height: 56px;
left: 42px;
top: 193px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #000000;
}
/* ****************************** smartphone, tablet and screen until 1024px ****************************** */
@media all and (max-width: 1024px) {
  body{
    overflow-x:hidden;
  }
  body {
    width: 100%;
    padding: 0 16px;
  }
  
  .main {
    flex-direction: column;
    width: 100%;
  }
  
  .photographerList {
    flex-basis: 100%;
    margin-right: 0;
    margin-top: 20px;
    order: 2;
  }
  
}
/******************************* smartphone only ****************************** */
@media (max-width: 766px) {
    /* .logo */
    #logo{
      height: 50px;
      width: 200px;
      left: 100px;
      top: -2px; 
    justify-content: flex-start;
    position: absolute;
    }    
  
  div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
        
      }
      
  div.gallery:hover {
        border: 1px solid #777;
      }
  
    .tag {/*.photographer_cathegories #Portrait #Art #Fashion #Architecture #Travel #Sport #Animals #Events buttons*/
    margin-right:.25rem;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(209,213,219,var(--tw-border-opacity));
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgba(144,28,28,var(--tw-text-opacity));
    transition-duration: .2s;
    color: #911C1C;
  } 
  
  #conractButton {/*rectangle 2*/
    display: flex;
    height: 25px;
    width: 170px;
    border-radius: 5px;
    color:white;
    margin-left: 38%;   
    border-radius: 5px;
    background: #901C1C;
    object-position: center;
    margin-top: 15px; 
    object-position: center bottom;   
  }
  .thumb-img{
  height: 190px;
  width: 335px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  }

  .thumb-imgfull{
    width: 335px;
    height:208px;
  }
 
}